/* Estilos generales de la página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
}

/* Estilos para el contenedor */
.container {
    background: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 60px; /* Añadimos un margen superior para que no se superponga con el nav */
}

/* Estilos del encabezado */
h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

p {
    margin-bottom: 30px;
    color: #666;
    font-size: 1.1em;
}

/* Estilos del botón */
.button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    border: none;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s, transform 0.3s;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    background: linear-gradient(45deg, #5a0dbc, #2069f3);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.button:active {
    background: linear-gradient(45deg, #4a0bab, #1b5ee3);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(0.95);
}

.button:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(106, 17, 203, 0.5);
}

/* Estilos del nav */
nav {
    width: 100%;
    background: #333333;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0 20px;
}

nav ul li {
    margin: 0 15px;
    color: #fff;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilos de la tarjeta de información del usuario */
.card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin: 20px 0;
}

.card h2 {
    margin-top: 0;
    color: #333;
}

.card p {
    color: #666;
    margin: 10px 0;
}
